{% extends "layout.html" %}

{% block title %}{{ user.username.capitalize() }}'s Profile - Literatus{% endblock %}

{% block extra_css %}
<style>
    .rating-circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: white;
    }
    .beloved { background-color: #4CAF50; }
    .tolerated { background-color: #FFC107; }
    .disliked { background-color: #F44336; }
    .category-header {
        border-bottom: 2px solid #800000;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
    }
        .delete-button {
        color: #ef4444;
    }
    .delete-button:hover {
        color: #dc2626;
    }
    .rerank-button {
        background-color: #71716F;
        color: white;
    }
    .rerank-button:hover {
        background-color: #600000;
    }
    .category-icon {
        margin-right: 0.5rem;
    }
</style>
{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto">
    <div class="flex justify-between items-center mb-8">
        <h1 class="text-3xl font-bold text-maroon font-title">Your Library</h1>
        <a href="{{ url_for('home') }}" class="bg-maroon text-white px-4 py-2 rounded-lg hover:bg-maroon-dark transition duration-300">Add New Book</a>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md mb-8 flex items-center">
        <img src="https://api.dicebear.com/6.x/initials/svg?seed={{ user.username }}" alt="{{ user.username }}" class="w-20 h-20 rounded-full mr-6">
        <div>
            <h2 class="text-2xl font-semibold text-maroon font-title">{{ user.username.capitalize() }}</h2>
            {% if beloved_books %}
                <p class="text-gray-600">Current favorite: {{ beloved_books[0].title }} by {{ beloved_books[0].author }}</p>
            {% else %}
                <p class="text-gray-600">No favorite book yet</p>
            {% endif %}
        </div>
    </div>

    {% for category, books, color, icon in [
        ('Beloved Books', user.beloved_books, 'beloved', '❤️'),
        ('Tolerated Books', user.tolerated_books, 'tolerated', '😐'),
        ('Disliked Books', user.disliked_books, 'disliked', '👎')
    ] %}
        <section class="mb-8">
            <h2 class="text-2xl font-semibold text-maroon font-title category-header">
                <span class="category-icon">{{ icon }}</span>{{ category }}
            </h2>
            {% if books %}
                <ul class="space-y-4">
                {% for book in books|sort(attribute='rating', reverse=True) %}
                    <li class="book-item bg-white p-4 rounded-lg shadow-md mb-4 flex items-center justify-between">
                        <div class="flex-grow flex items-center">
                            <span class="rating-circle {{ color }} mr-4 flex-shrink-0">
                                {{ "%.1f"|format(book.rating) }}
                            </span>
                            <div class="book-info">
                                <h3 class="font-semibold text-maroon font-title">{{ book.title }}</h3>
                                <p>by {{ book.author }}</p>
                            </div>
                        </div>
                        <div class="flex items-center space-x-2">
                            <span class="text-gray-500 ml-2">#{{ book.global_position }}</span>
                            <button class="action-button delete-button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                                </svg>
                            </button>
                            <a href="{{ url_for('initiate_rerank', book_id=book.id) }}" class="action-button rerank-button bg-maroon text-white px-2 py-1 rounded hover:bg-maroon-dark transition duration-300">
                                Rerank
                            </a>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p class="italic text-gray-500">No books in this category yet.</p>
            {% endif %}
        </section>
    {% endfor %}
</div>
{% endblock %}